.container {
  white-space: pre-wrap;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.feed_container {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  border-bottom: 1px solid gainsboro;
}

.feed_container:hover {
  border-bottom: 1px solid gainsboro;
  background: gainsboro;
}

.top_bar {
  height: 44px;
  background: #d43d3d;
  text-align: center;
  color: #fafafa;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
}
.top_menu {
  height: 44px;
  background: #ddd;
  text-align: left;
  color: #505050;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-tag {
  color: red;
  border: 1px solid red;
}
.bs-tag {
  color: blue;
  border: 1px solid blue;
}

.footer_bar {
  font-size: small;
  color: gray;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: medium;
  align-content: left;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.lab {
  color: red;
  border: 1px solid red;
}

.img {
  margin: 5px 2px 5px 2px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
