* {
  margin: 0;
}

h3 {
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 25%;
  padding: 10px;
  text-align: left;
}

#left-sidebar {
  display: block;
  background: lightcoral;
  float: left;
}

#right-sidebar {
  display: block;
  background: lightcyan;
  float: right;
}

#main-content {
  display: block;
  width: 45%;
  margin: 10px 25% 10px 25%;
}
