.search-container input {
  background: rgb(236, 255, 255);
}

.search-container {
  background: rgb(255, 217, 217);
}

.select-fruit-container select {
  background: rgb(255, 217, 217);
}

.select-fruit-container {
  background: rgb(236, 255, 255);
}

div {
  background: rgb(245, 245, 245);
  font-size: larger;
  text-align: center;
}
